@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");

* {
  padding: 0;
  margin: 0;
}

.mainContainer__about {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 1em;
  height: 100dvh;
  background-color: #f0f0f0;
  color: black;
  font-family: "Host Grotesk", sans-serif;
  font-style: normal;
  padding: 1.5rem;
}

.mainContainer__about--bio {
  display: inline;
  font-weight: 100;
  background-color: black;
  color: white;
  padding: 0.33rem;
}

.mainContainer__about--text {
  display: flex;
  width: 100%;
  font-weight: 100;
}

.pics__container {
  display: flex;
  position: relative;
  align-self: center;
}

.mainContainer__about--picStatic {
  object-fit: contain;
  width: 30em;
  border-radius: 0 0 25% 25%;
}

.mainContainer__about--pic {
  position: absolute;
  object-fit: contain;
  width: 30em;
  border-radius: 0 0 25% 25%;
  opacity: 0.5;
  z-index: 100;
  animation: translate1 4.4s cubic-bezier(0.23, 0.8, 0, -0.45) infinite normal
      running,
    translate2 4.4s cubic-bezier(0.23, 0.8, 0, -0.45) infinite normal running,
    huechange 7s 2s cubic-bezier(0.23, 0.8, 0, -0.45) infinite normal running,
    blur 4.4s cubic-bezier(0.23, 0.8, 0, -0.45) infinite normal running,
    skew 4.4s cubic-bezier(0.23, 0.8, 0, -0.45) infinite normal running;
}

@keyframes translate1 {
  25% {
    transform: translateY(0.3rem);
  }
  50% {
    transform: translateY(-0.2rem);
  }
}

@keyframes translate2 {
  25% {
    transform: translateX(-0.1rem);
  }
  50% {
    transform: translateX(0.4rem);
  }
}

@keyframes huechange {
  25% {
    filter: hue-rotate(-98deg);
  }
  50% {
    filter: hue-rotate(-77deg);
  }
}

@keyframes blur {
  25% {
    filter: blur(0.07rem);
  }
  50% {
    filter: blur(0.05rem);
  }
}

@keyframes skew {
  25% {
    transform: skew(-1deg);
  }
  50% {
    transform: skew(1deg);
  }
}

.btn__back {
  margin-top: 5em;
  border: none;
  width: 5em;
  background-color: white;
  color: black;
  padding: 1em;
  cursor: pointer;

  &:active {
    transform: scale(0.7);
  }
}

@media screen and (max-width: 768px) {
  .mainContainer__about--text {
    width: auto;
  }

  .pics__container {
    display: flex;
    position: relative;
  }

  .mainContainer__about--picStatic {
    width: 75dvw;
  }

  .mainContainer__about--pic {
    width: 75dvw;
  }

  @keyframes skew {
    25% {
      transform: skew(-5deg);
    }
    50% {
      transform: skew(5deg);
    }
  }
}
