@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");

* {
  padding: 0;
  margin: 0;
}

.mainContainer__about {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 1em;
  height: 100dvh;
  background-color: #f0f0f0;
  color: black;
  font-family: "Host Grotesk", sans-serif;
  font-style: normal;
  padding: 1.5rem;
}

.mainContainer__about--bio {
  display: inline;
  font-weight: 100;
  background-color: black;
  color: white;
  padding: 0.33rem;
}

.mainContainer__about--text {
  display: flex;
  width: 100%;
  font-weight: 100;
}

.mainContainer__about--pic {
  object-fit: contain;
  align-self: self-end;
  width: 30em;
}

.btn__back {
  margin-top: 5em;
  border: none;
  width: 5em;
  background-color: white;
  color: black;
  padding: 1em;

  &:active {
    transform: scale(0.7);
  }
}

@media screen and (max-width: 768px) {
  .mainContainer__about--text {
    width: auto;
  }
}
