@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mainContainer__projects {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  background-color: #f0f0f0;
  color: black;
  font-family: "Host Grotesk", sans-serif;
  font-style: normal;
  padding: 1.5rem;
}

.mainContainer__projects--work {
  display: inline;
  font-weight: 100;
  background-color: black;
  color: white;
  padding: 0.33rem;
}

.projects__container {
  display: flex;
  height: 15rem;
  flex-direction: column;
  font-size: 11.3em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background-color: white;
  overflow: hidden;
}

.mainContainer__projects--proj1 {
  color: black;
  transition: transform 0.5s ease-in-out;
}

.mainContainer__projects--proj1.active {
  transform: translateY(-15rem);
}

.text2 {
  background-color: black;
  color: white;
}

.btn__back {
  margin-top: 5em;
  border: none;
  width: 5em;
  background-color: white;
  color: black;
  padding: 1em;
  cursor: pointer;

  &:active {
    transform: scale(0.7);
  }
}

@media screen and (max-width: 768px) {
  .mainContainer__projects {
    height: 100vh;
  }

  .mainContainer__about--text {
    width: auto;
  }

  .projects__container {
    display: flex;
    height: 3rem;
    flex-direction: column;
    font-size: 2.3em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    overflow: hidden;
  }

  .mainContainer__projects--proj1 {
    color: black;
    transition: transform 0.5s ease-in-out;
  }

  .mainContainer__projects--proj1.active {
    transform: translateY(-3rem);
  }
}
