body {
  cursor: none;
}

.main__customCursor {
  position: absolute;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: white;
  pointer-events: none;
  z-index: 1000;
  mix-blend-mode: difference;
}

.main__customCursor--hidden {
  display: none;
}

@media screen and (max-width: 1024px) {
  .main__customCursor {
    display: none;
  }
}
