body {
  cursor: none;
}

.main__customCursor {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  pointer-events: none;
  z-index: 1000;
  mix-blend-mode: difference;
  animation: borderRadius 2s infinite ease, rotate90 0.5s infinite linear;
}

@keyframes borderRadius {
  /* 0% {
    border-radius: 0;
  }

  25% {
    border-radius: 25%;
  }
  50% {
    border-radius: 50%;
  }
  75% {
    border-radius: 25%;
  }
  100% {
    border-radius: 0;
  } */

  0%,
  100% {
    border-radius: 50%;
  }

  25%,
  75% {
    border-radius: 50%;
  }

  50% {
    border-radius: 0;
  }
}

@keyframes rotate90 {
  0% {
    transform: rotate(-90deg);
  }

  100% {
    transform: rotate(90deg);
  }

  50% {
    transform: none;
  }
}

.main__customCursor--hidden {
  display: none;
}

@media screen and (max-width: 1024px) {
  .main__customCursor {
    display: none;
  }

  body {
    cursor: auto;
  }
}
