img {
  width: 100%;
}

.mainContainer__homepage--work {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-areas: "capitan capitan";
  /* padding-left: 5em; */
  /* padding-right: 5em; */
  /* padding-top: 5em; */
  /* padding-bottom: 5em; */
  height: 100vh;
  width: auto;
  margin: 0 auto;
  overflow-y: auto;
  z-index: 100;
  background-color: #f0f0f0;
}

.mainContainer__about--pic {
  object-fit: contain;
  align-self: self-end;
  width: 30em;
}

.homepage__images--capitan {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  grid-area: capitan;
}

.homepage__images--baloon {
  display: none;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  grid-area: baloon;
}

@media screen and (max-width: 1024px) {
  .mainContainer__homepage--work {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 100vh;
  }

  .mainContainer__about--pic {
    object-fit: contain;
    align-self: self-end;
    width: 100%;
  }

  .homepage__images--baloon {
    display: flex;
  }

  .homepage__images--capitan {
    display: none;
  }
}
