@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Host+Grotesk:ital,wght@0,300;1,300&family=Viaoda+Libre&display=swap");

.mainContainer__homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100dvw;
  margin: 0 auto;
  background-color: #f0f0f0;
}

.text__hey {
  position: absolute;
  margin-top: 3.5rem;
  margin-left: -1.5rem;
  color: white;
  font-family: "Viaoda Libre", serif;
  font-weight: 400;
  font-size: 10em;
  font-style: normal;
  mix-blend-mode: difference;
}

.text__comma {
  position: absolute;
  margin-top: 7.5rem;
  margin-left: 10.5rem;
  color: white;
  font-family: "Holtwood One SC", serif;
  font-weight: 400;
  font-size: 10em;
  font-style: normal;
  mix-blend-mode: difference;
}

.text__welcome {
  position: absolute;
  margin-top: 22.5rem;
  margin-left: 13.5rem;
  color: white;
  font-family: "Host Grotesk", sans-serif;
  font-weight: 400;
  font-size: 9em;
  font-style: normal;
  mix-blend-mode: difference;
}

.mainPic__container {
  margin: 0 auto;
  display: flex;
  width: 40em;
  height: 40em;
}

.homepage__images--capitan {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.homepage__images--baloon {
  display: none;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  grid-area: baloon;
}

@media screen and (max-width: 1024px) {
  .mainContainer__homepage--work {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 100vh;
  }

  .homepage__images--baloon {
    display: flex;
  }

  .homepage__images--capitan {
    display: none;
  }
}
